.footer {
    width: 100%;
    height: auto;
    backdrop-filter: blur(1rem);
    color: #f0f0f0;
    padding-block: 1rem;
    font-family: "Roboto", serif;
    text-align: center;
    font-size: clamp(7px, 1vh + 1px, 16px);
    text-shadow: 0 0 .5rem #000000, 0 0 1rem #000000;
}

.footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: #f0f0f0;
    cursor: pointer;
}