.wrapper {
    position: relative;
    background-position: center;
    background-size: 100%;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-blend-mode: luminosity;
}

.wrapper:hover {
    background-blend-mode: hard-light;
}

.buttonsWrapper {
    background-color: #a3a3a360;
    backdrop-filter: blur(.25rem);
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing {
    background-blend-mode: normal;
}

.inactive {
    color: #373737 !important;
}

.button {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    background-color: transparent;
}

.button:hover > i {
    text-shadow: 0 0 .25rem #a3a3a3;
}

.volumeRangeInput {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    accent-color: #373737 !important;
    background-color: #a3a3a360;
    backdrop-filter: blur(2rem);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

@media (orientation: landscape) {
    .wrapper {
        width: 50%;
        height: 33.33vh;
    }
}

@media (orientation: portrait) {
    .wrapper {
        width: 100%;
        height: 16.66vh;
    }
}