* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.App {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #373737;
}

.buttons-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
}
